<!--The content below is only a placeholder and can be replaced.-->
<app-carousel [config]="config">
  <app-carousel-item appCarouselItem>item 1</app-carousel-item>
  <app-carousel-item appCarouselItem>item 2</app-carousel-item>
  <app-carousel-item appCarouselItem>item 3</app-carousel-item>
  <app-carousel-item appCarouselItem>item 4</app-carousel-item>
  <app-carousel-item appCarouselItem>item 5</app-carousel-item>
  <button appCarouselPrev><</button>
  <button appCarouselNext>></button>
</app-carousel>